<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      <nav class="nav d-flex flex-column justify-content-between bg-light vh-100">
        <div>
          <div class="my-6 ms-7">
            <a href="index.html">
              <img src="./assets/images/logo-ANSWER.svg" alt="ANSWER">
            </a>
          </div>
          <ul class="nav flex-column ms-7 p-0">
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="#"><span class="material-icons me-3">
                assessment
                </span>Active</a>
            </li>
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="#"><span class="material-icons me-3">
                question_answer
                </span>Question</a>
            </li>
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="index.html"><span class="material-icons me-3">
                assignment
                </span>Assignment</a>
            </li>
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="#"><span class="material-icons me-3">
                  video_library
                  </span>Course</a>
            </li>
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="#"><span class="material-icons me-3">
                  supervisor_account
                  </span>Admin</a>
            </li>
            <li class="nav-item p-0 mt-4 fw-bold">
              <a class="nav-link p-0 d-flex align-items-center" href="#"><span class="material-icons me-3">
                  settings
                  </span>Settings</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center ms-7 mb-7">
          <div class="me-3">
            <img class="profile-picture rounded-circle" src="./assets/images/andychen.jpeg" alt="andychen">
          </div>
          <div>
            <h6 class="mb-0 text-gray-dark">Andy Chen</h6>
            <p class="mb-0 text-gray">andy0401@mail.com</p>
          </div>
        </div>
      </nav>

      <%- contents %>
    
    </div>

    
    <!-- <footer class="footer">
      footer
    </footer> -->

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>